.btn{
    position: relative;
    padding: 10px;
    border: none;
    background-color: #25c900;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 20px;
}
.btn i{
    margin: 0 10px;
}

.btn:hover {
    transform: scale(1.1);
    transition:.5s;
    background-color:#229308 ;
    color: white;
}
/* eliminar----------------- */
#eliminar {
    position: relative;
    padding: 10px;
    border: none;
    background-color: #ca0303;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px;
    text-decoration: none;
}
#eliminar i{
    margin: 0 10px;
}

#eliminar:hover {
    transform: scale(1.1);
    transition:.5s;
    background-color:#930808 ;
}
/* detalles------------------- */
#detalles {
    position: relative;
    padding: 10px;
    border: none;
    background-color: #0099ff;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
#detalles i{
    margin: 0 10px;
}

#detalles:hover {
    transform: scale(1.1);
    transition:.5s;
    background-color:#087c93 ;

}

/* Listar Productos------------------- */
#listas {
    position: relative;
    padding: 10px;
    border: none;
    background-color: #b300ff;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
#listas i{
    margin: 0 10px;
}

#listas:hover {
    transform: scale(1.1);
    transition:.5s;
    background-color:#910893 ;
}

/* agregar---------------- */
#agregar {
    position: relative;
    padding: 10px;
    border: none;
    background-color: #d66800;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
#agregar i{
    margin: 0 10px;
}

#agregar:hover {
    transform: scale(1.1);
    transition:.5s;
    background-color:#934b08 ;
}